
*{ 
padding:0;
margin:0;
font-family:sans-serif;
}


.hero{
	height:100%;
	width:100%;
	background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(banner.jpg);
	background-position:center;
	background-size:cover;
	position:absolute;
}

.formbox{
	height:480px;
	width:380px;
	position:relative;
	margin:6% auto;
	background-color:#fff;
	padding:5px;
	overflow:hidden;
	box-shadow:0 20px 40px rgb(0,0,0);
}

.buttonbox{
	width:220px;
	position:relative;
	margin:35px auto;
	box-shadow:0 0 20px 9px #ff61241f;
	border-radius:30px;
}

.togglebutton{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline:none;
	position:relative;
}

#btn{
	top:0;
	left:0;
	position:absolute;
	width:110px;
	height:100%;
	background:linear-gradient(to right,#ff105f,#ffad06);
	border-radius:30px;
	transition:.5s;
}

.socialicons{
	margin:30px auto;
	text-align:center;
}

.socialicons img{
	width:30px;
	margin:0 12px;
	box-shadow:0 0 20px 0 #7f7f7f3d;
	cursor:pointer;
	border-radius:50%;
	
}

.inputgroup{
	top:180px;
	position:Absolute;
	width:280px;
	transition:.5s;
}
.inputfield{
	width:100%
	padding:10px 0;
	margin:5px 0;
	border-bottom:1px solid #999;
	border-top:0;
	border-right:0;
	border-left:0;
	outline:none;
	background:transparent;
	
	
}

.submitbtn{
	width:85%;
	padding:10px 30px;
	cursor:pointer;
	display:block;
	margin:auto;
	background:linear-gradient(to right,#ff105f,#ffad06);
	border:0;
	outline:none;
	border-radius:30px;
}
.check{
	margin:30px 10px 30px 0; 
}

#login{
	left:50px;
}
#register{
	left:450px;
}
label {
    display: block;
    margin: 0.9rem 0;
    font-size: 12px;
	color:solid #777;
  }
